# Expo public environment variables (accessible in JS via process.env.EXPO_PUBLIC_*)
# Set the port your backend is running on. Defaults to 5000 if not set.
EXPO_PUBLIC_API_PORT=5000
// link from ngrok if used on the server
EXPO_PUBLIC_API_URL=http://localhost:5000/api/v1
